// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.solution {
  background-color: yellow;
  border-left: 3px solid grey;
  padding: 10px;
}

.question {
  border-left: 3px solid grey;
  padding: 10px;
}
